<phpunit>

    <testsuites>
        <testsuite name="Unit">
            <directory suffix="RegistrationTest.php">./tests/Entities</directory>
            <directory suffix="RegistrationFormRequestTest.php">./tests/Forms</directory>
        </testsuite>
        <testsuite name="Feature">
            <directory suffix="RegistrationRepositoryTest.php">./tests/Repositories</directory>
        </testsuite>
    </testsuites>
    <php>
        <env name="DB_CONNECTION" value="sqlite"/>
        <env name="DB_DATABASE" value=":memory:"/>
    </php>

</phpunit>
